* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    margin: 0 auto;
}

/*Header*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;    
    width: 100%; /*This ensures the width of the banner takes up 100% of the width of the page on top*/
}

.header h1 {
    display: inline-block; /*This centers the navigation links onto the*/
    font-size: 48px;
    line-height: 55px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block; /*This makes the nav links display next to eachother rather than under eachother*/
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*End of Header*/



p {
    font-size: 20px;
}



/*1st Section Under Header*/

.Image-Under-Header {
    height: 800px; /*This sets the height of the image-under-header to stay at 800px*/
    width: 100%; /*This makes the image-under-header width 100% of the webpage width*/
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*End of 1st Section Under Header*/



/*2nd Section Content*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%; /*This makes the content sections only take up 75% of the room on the page*/
    display: inline-block;
    margin-left: 20px;;
}

.Content-Article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px; /*This sets the height of the content sections or the background which is blue*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Content-Article img {
    max-height: 200px; /*This sets the height of the images within the content sections to 200px*/
}

.Content-Article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*End of 2nd Section Content*/



/*3rd Section Benefits*/

.benefits { 
    margin-right: 23px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%; /*This sets the width of the benifits section to only take up 20% of the page*/
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.Benefit-Aside { 
    margin-bottom: 32px; 
    color: #ffffff; 
}
.Benefit-Aside h3 {
    margin-bottom: 10px; 
    text-align: center; 
}
.Benefit-Aside img {
    display: block; 
    margin: 10px auto; 
    max-width: 150px;
}

/*End of 3rd Section Benefits*/



/*Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*End of Footer*/



/*Responsive for Ipad Pro Test - Get rid of Comments to test if responsive on ipad pro
 @media only screen and (min-width: 1024px) {
    .header {
        padding: 20px;   
        height: auto;
        width: 100%;
    }
    .header h1 {
        display: inline-block;
        font-size: 30px;
        line-height: 55px;
        padding-left: 20px;
    }
    .Image-Under-Header {
        width: 100%;
        height: 500px;
    }
    .content {
        width: 65%;
    }
    .content article h2 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .Content-Article p {
        font-size: 20px;
    }
    .Content-Article img {
        width: 200px
    }
    .benefits {
        width: 30%;
    }
 }
 */


